<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="wrap">
    <div class="jumbotron">
        <h1 class="display-4">Hello, This is Steven's notepad!</h1>
        <p class="lead"> 중요한 것들을 기록하는 곳 입니다.<br>저의 생각이 담긴 자유로운 공간입니다.</p>
        <hr class="my-4">
        <p>멋진 아이디어가 떠오르면 바로 기록하는 습관!</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" th:href="@{/posting}" role="button">포스팅박스 열기</a>
        </p>
    </div>

    <div class="card-columns">
        <div th:each="memo, loop : ${memoList}">
            <div class="card">
            <img class="card-img-top" th:src="@{${memo.filePath}}" alt="Card image cap">
                <div class="card-body">
                <a th:href="@{|/memo/detail/${memo.id}|}" target="_blank" class="card-title" th:text="${memo.subject}"></a>
                <p class="card-text" th:text="${memo.content}"></p>
                <p class="card-text comment" th:text="${#temporals.format(memo.createDate, 'yyyy-MM-dd HH:mm')}" style="float:left;"></p>
                <a class="btn btn-light btn-sm" style="float:right;" role="button">Edit</a>
                </div>
            </div>
        </div>

    </div>
</div>
</html>
